<!--

Adds the handler for item:added and item:renamed events for items with spaces in the names

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
        <event name="item:added">
          <handler patch:before="handler[@type='Sitecore.Data.Fields.ItemEventHandler']" type="ItemRenamingHandler.ItemNameEventHandler, ItemRenamingHandler" method="HandleItemName"/>
        </event>
        <event name="item:renamed">
          <handler patch:before="handler[@type='Sitecore.Data.Fields.ItemEventHandler']" type="ItemRenamingHandler.ItemNameEventHandler, ItemRenamingHandler" method="HandleItemName"/>
        </event>
      </events>
  </sitecore>
</configuration>
